@model Index
@{
    ViewData["Title"] = "Home page";
    
}

<div class="newshead">
    <h1 class="display-4">The News of BESTSELLER</h1>
    <button class="add">Add</button>
</div>

@{


}

<div class="newscontainer" id="news-1">
    <div class="head">
        <p class="date">November 5th, 2020</p>
        <a href="News/Create">Edit</a>
        <button class="delete">Delete</button>
    </div>
    <div class="title">Besteselllerserser</div>
    <div class="description">fantastic colleagues worldwide, working together as one family across design, logistics, sales, retail, technology and other functions</div>
</div>

<div class="newscontainer" id="news-2">
    <div class="head">
        <p class="date">November 4th, 2020</p>
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </div>
    <div class="title">The canteen is now serving</div>
    <div class="description">branded retail stores in 32 countries globally with more than 20 fashion brands for all ages, genders and occasions</div>
</div>